.book-card {
    width: 150px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;}

.book-cover {
    width: 128px;
    height: 193px;
    object-fit: cover;
    margin-right: 20px;
}

.book-info {
    flex-grow: 1;
}

.book-info h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.book-info p {
    margin: 0.5em 0;
}

.add-to-bookshelf-button,
.remove-from-bookshelf-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-bookshelf-button:hover,
.remove-from-bookshelf-button:hover {
    background-color: #0056b3;
}

.add-to-bookshelf-button:disabled,
.remove-from-bookshelf-button:disabled {
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
}
