.navbar {
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 10px 20px; /* Add padding to ensure spacing from the window border */
    box-sizing: border-box;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 60px; /* Adjusted for smaller size */
    height: 60px; /* Adjusted for smaller size */
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-link span {
    margin-left: 5px; 
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-left: 0;
        margin-top: 10px;
        gap: 40px;
    }

    .nav-link {
        width: 90px; /* Smaller size for mobile */
        height: 90px; /* Smaller size for mobile */
        font-size: 0.8em;
    }
}

.active-nav-link {
    background-color: #0056b3;
    color: white;
}