.navbar {
    background-color: #007bff;
    color: white;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .logo {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-left: 900px;
}

.nav-link {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 90px; /* Ensure a circular shape */
    height: 90px; /* Ensure a circular shape */
    transition: background-color 0.3s, color 0.3s;
}


.nav-link span {
    margin-left: 5px; 
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}